<h6 class="bg-info"> Add Contact Details </h6>
<div class="table-responsive">
    <table >
        <tr>
            <td> Name      - </td>
            <td><input type="text" ng-model="addNewContact.name" placeholder="Full Name" /></td>
        </tr>
        <tr>
            <td> Phone      - </td>
            <td><input type="text" ng-model="addNewContact.phone" placeholder="(999) -999-9999" /></td>
        </tr>
        <tr>
            <td> Email      - </td>
            <td><input type="text" ng-model="addNewContact.email" placeholder="email@domain.com" /></td>
        </tr>
        <tr>
            <td> Birthday   - </td>
            <td><input type="text" ng-model="addNewContact.birthday" placeholder="DOB (mm/dd/yyyy)" /></td>
        </tr>
        <tr>
            <td> Avatar     - </td>
            <td><input type="text" ng-model="addNewContact.avatar" placeholder="Avatar web link" /></td>
        </tr>
    </table>
    <br />
    <a href="/">Back to List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/SaveContactDetails">Save</a>
    <br />
</div>


