<h6 class="bg-info"> Edit Contact Details of : </h6>
<div class="table-responsive">
    <table >
        <tr>
            <td colspan="2" align="center"><img ng-src="{{tmpContact.avatar}}" class="img-rounded" alt="Cinque Terre" width="151" height="101"></td>
        </tr>
        <tr>
            <td> Name      - </td>
            <td><input type="text" name="iName" ng-model="tmpContact.name" /></td>
        </tr>
        <tr>
            <td> Phone      - </td>
            <td><input type="text" name="iPhone" ng-model="tmpContact.phone" /></td>
        </tr>
        <tr>
            <td> Email      - </td>
            <td><input type="text" name="iEmail" ng-model="tmpContact.email" /></td>
        </tr>
        <tr>
            <td> Birthday   - </td>
            <td><input type="text" name="iBirthday" ng-model="tmpContact.birthday" /></td>
        </tr>
        <tr>
            <td> Avatar     - </td>
            <td><input type="text" name="iAavtar" ng-model="tmpContact.avatar" /></td>
        </tr>
    </table>
    <br />
    <!--<Ul>
        <li>Status of Contact = {{viewCtrl.foundIt}} </li>
    </Ul>-->
    <a href="/">Back to List</a>
    <br />
</div>
