<?xml version="1.0" encoding="UTF-8"?>
<configuration>
		<system.web>
		  <compilation debug="true" />
		  <!--<webServices></webServices>-->
		</system.web>
		<startup>
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
		</startup>
	  <system.webServer>
		<staticContent>
		  <mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent><!---->
		<rewrite>
		  <rules>
			<rule name="ReWriteRules" stopProcessing="true">
			  <match url=".*" ignoreCase="true" />
			  <conditions logicalGrouping="MatchAll">
				<add input="REQUEST_FILENAME" matchType="IsFile" negate="true" />
				<add input="REQUEST_FILENAME" matchType="IsDirectory" negate="true" />
				<add input="REQUEST_URI" pattern="^/(api)" negate="true" />
			  </conditions>
			</rule>
		  </rules>
		</rewrite>
	  </system.webServer>
</configuration>
